<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>せやなせや｜HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
<!-- Header Start -->
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <img src="/img/logo.png" class="brand" />
        <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
                ≡
            </button>
            <ul class="nav__wrapper">
                <li class="nav__item"><a href="/"><u>Home</u></a></li>
                <li class="nav__item"><a href="/profile">Profile</a></li>
                <li class="nav__item"><a href="/movie">Movie</a></li>
                <li class="nav__item"><a href="/link">Links</a></li>
                <li class="nav__item"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End -->

<!-- Article Start -->
<video autoplay muted loop poster="" src="/img/op.mp4"></video>
<!-- Article End -->

<script src="/js/header.js"></script>
</body>
</html>
