<!doctype html>
<html class="no-js" lang="ja">

<head>
    <meta charset="utf-8">
    <title>せやなせや|Link</title>
    <meta name="description" content="せやなせやのリンク集です！">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" href="/img/icon.JPG">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/link.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />

    <meta name="theme-color" content="#fafafa">
</head>

<body>

<!-- Header Start -->
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <img src="/img/logo.png" class="brand" />
        <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
                ≡
            </button>
            <ul class="nav__wrapper">
                <li class="nav__item"><a href="/">Home</a></li>
                <li class="nav__item"><a href="/profile">Profile</a></li>
                <li class="nav__item"><a href="/movie">Movie</a></li>
                <li class="nav__item"><a href="/link"><u>Links</u></a></li>
                <li class="nav__item"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End -->

<article>
    <h1>Links</h1>
    <img class="icon" src="/img/icon.JPG" alt="icon" />
    <h2><b>せやな せや</b></h2>
    <div class="cards">
        <div class="card">
            <img src="/img/tweet.png" alt="favicon" />
            <p>Twitter🏩🔥</p>
            <a target="blank" href="https://twitter.com/seya_seya_seyan"></a>
        </div>
        <div class="card">
            <img src="/img/movie.png" alt="favicon" />
            <p>YouTube🏩🔥</p>
            <a target="blank" href="https://www.youtube.com/channel/UCmtlTRz4IBBUTWVoJzgWlBQ"></a>
        </div>
        <div class="card">
            <img src="/img/movie.png" alt="favicon" />
            <p>ASMR🏩🔥</p>
            <a target="blank" href="https://www.youtube.com/channel/UCVeahxbvGsbiYmeSfBaM88Q"></a>
        </div>
        <div class="card">
            <img src="/img/heart.png" alt="favicon" />
            <p>ほしいものリスト🏩🔥</p>
            <a target="blank" href="https://www.amazon.jp/hz/wishlist/ls/3HI5E6PJS2SLS?ref_=wl_share"></a>
        </div>
        <div class="card">
            <img src="/img/twitch.png" alt="favicon" />
            <p>Twitch🏩🔥</p>
            <a target="blank" href="https://www.twitch.tv/seyanaseyaseya"></a>
        </div>
        <div class="card">
            <img src="/img/heart.png" alt="favicon" />
            <p>FANBOX🏩🔥</p>
            <a target="blank" href="https://t.co/DnZ3NllUFt"></a>
        </div>
        <div class="card">
            <img src="/img/bag.png" alt="favicon" />
            <p>BOOTH🏩🔥</p>
            <a target="blank" href="https://t.co/1InVoNyzO4"></a>
        </div>
        <div class="card">
            <img src="/img/marshmallow.png" alt="favicon" />
            <p>ましゅまろ🏩🔥</p>
            <a target="blank" href="https://marshmallow-qa.com/seya_seya_seyan?utm_medium=twitter&utm_source=auto_promotion"></a>
        </div>
        <div class="card">
            <img src="/img/twitcasting.png" alt="favicon" />
            <p>ツイキャス🏩🔥</p>
            <a target="blank" href=""></a>
        </div>
    </div>
</article>

<script src="/js/header.js"></script>
</body>
</html>
