/*
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
    height: 100px;
}

.site-header {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.5);
    z-index: 2;
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; }
.site-header__wrapper img{
    height: 100px;
}
@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } }
@media (min-width: 600px) {
    .nav__wrapper {
        display: flex; } }

@media (max-width: 599px) {
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: #ffffff;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        z-index: 1;} }

.nav__item a {
    display: block;
    padding: 1.5rem 1rem; }

.nav__toggle {
    display: none; }
@media (max-width: 599px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 40px;
        height: 40px;
        margin-bottom: auto;
        margin-top: 20px;
        background: transparent;
        border: 0px solid black;
    } }
