html, p, h1, h2{
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

article {
    text-align: center;
    margin-top: 80px;
}

h1 {
    font-size: xx-large;
    padding-bottom: 20px;
}
h2 {
    font-size: x-large;
}
.icon {
    border-radius: 50%;
    height: 150px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80vw;
    height: 60px;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    background-color: white;
}

.card img{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

.card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card p {
    margin-top: 20px;
    margin-left: 20px;
}

